Language: Cpp
BasedOnStyle: LLVM
ColumnLimit: 80
IndentWidth: 4
AccessModifierOffset: -4
PointerAlignment: Right
AllowShortCaseLabelsOnASingleLine: false
BreakConstructorInitializers: BeforeColon
AllowShortFunctionsOnASingleLine: All